Makefile
Makefile.in
Makefile.am
aclocal.m4
config.*
configure
missing
depcomp
install-sh
bin/*.exe
bin/sapien
bin/mapeditor
*.swp
stamp-h1
*.o
*.cxx
*.log
*.a
*.gcda
*.gcno
*.deps*
*.libs*
*.dirstamp
autom4te.cache/*
test_sapien_engine
test_sapien_game
bin/*.dll
bin/sapien.exp
bin/sapien.ilk
bin/sapien.lib
bin/sapien.pdb
bin/sapien.exe.*
vs2012/Debug
vs2012/sapien.exp
vs2012/sapien.ilk
vs2012/sapien.lib
vs2012/sapien.lastbuildstate
vs2012/sapien.pdb
vs2012/sapien.unsuccessfulbuild
vs2012/sapien.opensdf
vs2012/sapien.sdf
vs2012/sapien.exe.lastcodeanalysissucceeded
ar-lib
